body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  text-align: center; /* Center align the form elements */
}

.no-file{
    text-align: center;
}

.upload-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-btn:hover {
  background-color: #3e8e41;
}

.file-list {
  width: 100%;
  border-collapse: collapse;
}

.file-list th,
.file-list td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.file-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.file-list td {
  vertical-align: top;
}


